################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cms-hacker-heroes
/cms-hacker-heroes/.vs/cms-hacker-heroes
/cms-hacker-heroes/.vs/cms-hacker-heroes/FileContentIndex
/cms-hacker-heroes/.vs/cms-hacker-heroes/FileContentIndex/14fec188-c27d-40ca-8894-82327dae9af9.vsidx
/cms-hacker-heroes/.vs/cms-hacker-heroes/FileContentIndex/c69650c4-e023-473f-ae4e-522d479d1f4e.vsidx
/cms-hacker-heroes/.vs/cms-hacker-heroes/v17
/cms-hacker-heroes/.vs/cms-hacker-heroes/v17/.suo
/cms-hacker-heroes/.vs/cms-hacker-heroes/v17/DocumentLayout.json
/cms-hacker-heroes/cms-hacker-heroes
/cms-hacker-heroes/cms-hacker-heroes/.gitignore
/cms-hacker-heroes/cms-hacker-heroes/appsettings.Development.json
/cms-hacker-heroes/cms-hacker-heroes/appsettings.json
/cms-hacker-heroes/cms-hacker-heroes/cms-hacker-heroes.csproj
/cms-hacker-heroes/cms-hacker-heroes/Components
/cms-hacker-heroes/cms-hacker-heroes/Components/Account
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/IdentityComponentsEndpointRouteBuilderExtensions.cs
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/IdentityNoOpEmailSender.cs
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/IdentityRedirectManager.cs
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/IdentityRevalidatingAuthenticationStateProvider.cs
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/IdentityUserAccessor.cs
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/AccessDenied.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ConfirmEmail.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ConfirmEmailChange.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ExternalLogin.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ForgotPassword.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ForgotPasswordConfirmation.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/InvalidPasswordReset.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/InvalidUser.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Lockout.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Login.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/LoginWith2fa.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/LoginWithRecoveryCode.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/ChangePassword.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/DeletePersonalData.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/Disable2fa.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/Email.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/EnableAuthenticator.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/ExternalLogins.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/GenerateRecoveryCodes.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/Index.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/PersonalData.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/ResetAuthenticator.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/SetPassword.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/TwoFactorAuthentication.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Manage/_Imports.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/Register.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/RegisterConfirmation.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ResendEmailConfirmation.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ResetPassword.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/ResetPasswordConfirmation.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Pages/_Imports.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/AccountLayout.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/ExternalLoginPicker.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/ManageLayout.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/ManageNavMenu.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/RedirectToLogin.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/ShowRecoveryCodes.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Account/Shared/StatusMessage.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/App.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Layout
/cms-hacker-heroes/cms-hacker-heroes/Components/Layout/MainLayout.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Layout/MainLayout.razor.css
/cms-hacker-heroes/cms-hacker-heroes/Components/Layout/NavMenu.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Layout/NavMenu.razor.css
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages/Auth.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages/Counter.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages/Error.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages/Home.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Pages/Weather.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/Routes.razor
/cms-hacker-heroes/cms-hacker-heroes/Components/_Imports.razor
/cms-hacker-heroes/cms-hacker-heroes/Data
/cms-hacker-heroes/cms-hacker-heroes/Data/ApplicationDbContext.cs
/cms-hacker-heroes/cms-hacker-heroes/Data/ApplicationUser.cs
/cms-hacker-heroes/cms-hacker-heroes/Program.cs
/cms-hacker-heroes/cms-hacker-heroes/Properties
/cms-hacker-heroes/cms-hacker-heroes/Properties/launchSettings.json
/cms-hacker-heroes/cms-hacker-heroes/Properties/serviceDependencies.json
/cms-hacker-heroes/cms-hacker-heroes/Properties/serviceDependencies.local.json
/cms-hacker-heroes/cms-hacker-heroes/wwwroot
/cms-hacker-heroes/cms-hacker-heroes/wwwroot/app.css
/cms-hacker-heroes/cms-hacker-heroes/wwwroot/bootstrap
/cms-hacker-heroes/cms-hacker-heroes/wwwroot/bootstrap/bootstrap.min.css
/cms-hacker-heroes/cms-hacker-heroes/wwwroot/bootstrap/bootstrap.min.css.map
/cms-hacker-heroes/cms-hacker-heroes/wwwroot/favicon.png
/cms-hacker-heroes/cms-hacker-heroes.sln
